/********************
 google fonts
******************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=The+Nautigal&display=swap');
/* ************************************************************** */
body{
    font-family: 'Poppins', sans-serif;
}
/* **********************
 CSS in header 
************************ */
main{
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 87px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    padding-right: 34px;
    font-size: 16px;
}

/* ***************************
 CSS of first container 
*************************** */
.product{
    display: flex;
    align-items: center;
}
.product-detail{
    width: 582px;
    height: 270px;
   /* padding-left: 120px; */
   /* padding-top: 285px; */
}
h1{
    
    font-size: 52px;
}
.product-detail a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    padding: 10px 24px;

}
.product-detail img{
    width: 440px;
    height: 414px;
}

/* ************************
Started design for items
*************************** */
.second-container{
    padding-left: 196px;
    padding-right: 197px;
    width: 1047px;
    height: 1662px;
}

h4{
   color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
   text-align: center;    
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.item-detail{
    width: 329px;
    
    padding: 15px 15px 0 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
}
h3{
    font-size: 28px;
}
.item-price{
    font-size: 24px;
}
.fa-star, .fa-star-half-alt{
    color: orange;
}
.last-para{
    font-size: 14px;
    font-weight: bold;
    color: #787885;
    height: 61px;
    width: 196px;
}
h5 a{
    color: #E02C6D;
    text-decoration: none;
    width: 99px;
    height: 24px;
    text-align: end;
    padding-right: 100px;
}
h5{
   
    display: flex;
    justify-content: flex-end;
}